<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzy.dao.EvaluateMapper">
  <resultMap id="Evaluate" type="com.xzy.model.Evaluate">
    <id column="com_ID" jdbcType="INTEGER" property="comId" />
    <result column="user_ID" jdbcType="INTEGER" property="userId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="dialogbox" jdbcType="CHAR" property="dialogbox" />
    <result column="com_num" jdbcType="INTEGER" property="comNum" />
    <result column="date" jdbcType="DATE" property="date" />
  </resultMap>

  <!--根据订单ID,查询订单状态-->
  <select id="getOrderState" parameterType="int" resultType="int">
    SELECT state,user_ID FROM orders WHERE order_ID=#{oid};
  </select>

  <!--根据订单ID,得到商品id,用户id-->
  <select id="getUGid" parameterType="int" resultType="com.xzy.model.OrderUser">
    SELECT goods_id,user_ID FROM order_user WHERE order_ID=#{oid};
  </select>

  <!-- 根据用户ID，得到用户头像-->
  <select id="getUPic" parameterType="int" resultType="com.xzy.model.User">
    select user_pic from uesr where user_ID=#{uid};
  </select>

  <!--插入评论-->
  <insert id="inEvaluate" parameterType="map" >
    INSERT into evaluate(evaluate.dialogbox,evaluate.goods_id,evaluate.user_ID) VALUES
    <if test="dialogbox != null and dialogbox !='' ">
      dialogbox = #{dialogbox}
    </if>
    <if test="user_ID != null and user_ID !='' ">
      user_ID = #{userId}
    </if>
    <if test="goods_id !=null and goods_id !='' ">
      goods_id = #{gid}
    </if>
    <if test="date != null and date != ''">
      date = #{date}
    </if>

  </insert>

  <!--查询当前商品的所有评论和对应用户-->
  <select id="findPage" resultMap="Evaluate" parameterType="int">
    SELECT * FROM evaluate WHERE goods_id=#{gid};
  </select>

  <!--查询当前商品总评论数-->
  <select id="count" resultType="long" parameterType="long">
	select count(1) from evaluate where goods_id=#{gid}
</select>

</mapper>